/*-------------------------------
 Responsive
---------------------------------*/
@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    --bs-gutter-x: 30px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 12px 0;
  }
  .header-backdrop,
  .header-close-btn,
  .header-hamburger-btn {
    display: block;
  }
  .header-hamburger-btn {
    height: 34px;
    width: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }
  .header-hamburger-btn span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--black-90);
    position: relative;
    margin: auto;
  }
  .header-hamburger-btn span::before,
  .header-hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-90);
  }
  .header-hamburger-btn span::before {
    top: -7px;
  }
  .header-hamburger-btn span::after {
    top: 7px;
  }
  .header-close-btn {
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    left: 15px;
    top: 15px;
    color: var(--WHITE);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .header-menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    z-index: 1000;
    padding: 70px 0 50px;
    transition: all 0.5s ease;
    background-color: var(--white);
    box-shadow: var(--shadow);
    overflow-y: auto;
    visibility: hidden;
  }
  .header-menu.open {
    right: 0;
    visibility: visible;
  }
  .header .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu-item > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid var(--border-color-1);
  }
  .header .menu-item:first-child > a {
    border-top: 1px solid var(--border-color-1);
  }
  .header .menu-item.active > a i {
    transform: rotate(-180deg);
  }
  .header .sub-menu {
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translateY(0);
    top: auto;
    padding: 0;
    border-radius: 0;
    max-height: 0;
    overflow: hidden;
  }
  .header .sub-menu-item a {
    padding: 12px 45px;
    border-bottom: 1px solid var(--border-color-1);
  }
  .header-backdrop {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    background-color: var(--white);
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
