/*----------------------------------------------------------
   ***************** Table of Content ********************

01. =google fonts
02. =variables
03. =overrides variables for - theme dark
04. =base
0.5 =box
06. =custonized bootstrap classses
07. =animation keyframes
08. =section padding , title
09. =buttons
10. =page loader
11. =circular img
12. =forms
13. =video model
14. =pagination
15. =breadcrumbs
16. =tabs
17. =bubble animation
18. =style switcher
19. =header
20. =footer
21. =banner section
22. =fun facts section
23. =courses section
24. =testimonials section
25. =bai section
26. =course details section
27. =contact section
------------------------------------------------------------*/

/* ------------------------
 01. =google fonts
--------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*-------------------------
 02. =variables
---------------------------*/

:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsla(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}

/*------------------------------------------
 03. =overrides variables for - theme dark
---------------------------------------------*/

/*----------------------------
 04. =base
-------------------------------*/

body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-70);
  min-height: 100vh;
  /*overflow: hidden;*/
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-90);
  line-height: 1.3;
}
::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}

/*-------------------------------
 0.5 =box
---------------------------------*/
.box {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
}

/*-------------------------------
 06. =custonized bootstrap classses
---------------------------------*/
.container {
  --bs-gutter-x: 15px;
  max-width: 1140px;
}
.row {
  --bs-gutter-x: 30px;
}

/*-------------------------------
 07. =animation keyframes
---------------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-------------------------------
 08. =section padding , title
---------------------------------*/
.section-padding {
  padding: 60px 0;
}
.section-title {
  margin-bottom: 40px;
}
.section-title .title {
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
}
.section-title .sub-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--black-90);
}

/*---- future start ---*/

/*---- why us item 1 start ---*/
.why-us-item-1 {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow);
}
.why-us-item-1::before,
.why-us-item-1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red-light);
  z-index: -1;
  transition: all 0.5s ease;
}
.why-us-item-1:hover::before {
  transform: scale(1, 0);
}
.why-us-item-1:hover::after {
  transform: scale(0, 1);
}
.why-us-item-1:nth-child(1) {
  background-color: var(--main-color);
}
.why-us-item-1 .icon {
  font-size: 30px;
  color: var(--black-90);
  margin: 0 0 10px;
  transition: all 0.5s ease;
}
.why-us-item-1:hover .icon {
  color: var(--WHITE);
}
.why-us-item-1 h3 {
  color: var(--black-90);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 10px;
}
/*---- why us item 1 ends ---*/

/*---- why us item 2 start ---*/
.why-us-item-2 {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow);
}
.why-us-item-2::before,
.why-us-item-2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green-light);
  z-index: -1;
  transition: all 0.5s ease;
}
.why-us-item-2:hover::before {
  transform: scale(1, 0);
}
.why-us-item-2:hover::after {
  transform: scale(0, 1);
}
.why-us-item-2:nth-child(2) {
  background-color: var(--main-color);
}
.why-us-item-2 .icon {
  font-size: 30px;
  color: var(--black-90);
  margin: 0 0 10px;
  transition: all 0.5s ease;
}
.why-us-item-2:hover .icon {
  color: var(--WHITE);
}
.why-us-item-2 h3 {
  color: var(--black-90);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 10px;
}
/*---- why us item 2 ends ---*/

/*---- why us item 3 start ---*/
.why-us-item-3 {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow);
}
.why-us-item-3::before,
.why-us-item-3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--orange-light);
  z-index: -1;
  transition: all 0.5s ease;
}
.why-us-item-3:hover::before {
  transform: scale(1, 0);
}
.why-us-item-3:hover::after {
  transform: scale(0, 1);
}
.why-us-item-3:nth-child(3) {
  background-color: var(--main-color);
}
.why-us-item-3 .icon {
  font-size: 30px;
  color: var(--black-90);
  margin: 0 0 10px;
  transition: all 0.5s ease;
}
.why-us-item-3:hover .icon {
  color: var(--WHITE);
}
.why-us-item-3 h3 {
  color: var(--black-90);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 10px;
}
/*---- why us item 3 ends ---*/

/*---- future end ---*/
/*-------------------------------
 09. =buttons
---------------------------------*/
.btn-theme {
  background-color: var(--main-color);
  color: var(--WHITE);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
}
.btn-theme:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}
.btn-theme:focus {
  box-shadow: 0 0 8px var(--main-color);
}
.btn-block {
  width: 100%;
}
.btn-form {
  height: 48px;
}
/*-------------------------------
 10. =page loader
---------------------------------*/

/*-------------------------------
 11. =circular img
---------------------------------*/
.circular-img {
  max-width: 360px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.circular-img-inner {
  text-align: center;
  border-radius: 0 0 180px 180px;
  overflow: hidden;
}
.circular-img-circle {
  height: 360px;
  width: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}
.circular-img img {
  position: relative;
  z-index: 1;
}
/*-------------------------------
 12. =forms
---------------------------------*/
.form-title {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 600;
}
.form-control::placeholder {
  color: var(--black-70);
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-control {
  height: 48px;
  border-color: var(--border-color-1);
  color: var(--black-90);
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
  border-color: var(--border-color-1);
  color: var(--black-90);
  box-shadow: none;
}
textarea.form-control {
  height: 120px;
  resize: none;
}
/*-------------------------------
 13. =video model
---------------------------------*/

/*-------------------------------
 14. =pagination
---------------------------------*/

/*-------------------------------
 15. =breadcrumbs
---------------------------------*/
.breadcrumb-nav {
  padding: 10px 0;
}
.breadcrumb-nav .breadcrumb-item {
  font-size: 14px;
  text-transform: capitalize;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active {
  color: var(--black-70);
}
/*-------------------------------
 16. =tabs
---------------------------------*/

/*-------------------------------
 17. =bubble animation
---------------------------------*/

/*-------------------------------
 18. =style switcher
---------------------------------*/
.style-switcher {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: var(--white);
  right: -250px;
  top: 0;
  z-index: 10;
  padding: 30px;
  box-shadow: var(--shadow);
  transition: right 0.3s ease;
}
.style-switcher.open {
  right: 0;
}
.style-switcher-toggler {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 28%;
  left: -40px;
  background-color: var(--main-color);
  color: var(--WHITE);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}
.style-switcher h3 {
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid var(--border-color-1);
  padding: 0 0 10px;
}
.style-switcher-item {
  padding: 10px;
  border-bottom: 1px solid var(--border-color-1);
}
.theme-colors button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  border-radius: 50%;
  padding: 0;
  position: relative;
}
.theme-colors button::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: var(--WHITE);
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.theme-colors .color-1 {
  background-color: hsl(0, 74%, 61%);
}
.theme-colors .color-2 {
  background-color: hsl(230, 74%, 61%);
}
.theme-colors .color-3 {
  background-color: hsl(36, 74%, 61%);
}
.theme-colors .color-4 {
  background-color: hsl(277, 74%, 61%);
}
.theme-colors .color-5 {
  background-color: hsl(164, 74%, 61%);
}
/*-------------------------------
 19. =header
---------------------------------*/
.header {
  border-bottom: 1px solid var(--border-color-2);
}
.header-logo a {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-70);
}
.header-logo span {
  color: var(--main-color);
}
.header .menu-item {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.header .menu-item > a {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: var(--black-90);
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.header .sub-menu-item a:hover,
.header .menu-item:hover > a {
  color: var(--main-color);
}
.header .menu-item > a i {
  font-size: 13px;
  margin-left: 3px;
  pointer-events: none;
}
.header .sub-menu {
  position: absolute;
  top: 100%;
  background-color: var(--white);
  left: 0;
  width: 210px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
@media (min-width: 992px) {
  .header .menu-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.header .sub-menu-item a {
  display: block;
  padding: 10px 20px;
  color: var(--black-90);
  text-transform: capitalize;
  font-weight: 400;
  transition: color 0.3s ease;
}
.header-backdrop,
.header-close-btn,
.header-hamburger-btn {
  display: none;
}

/*-------------------------------
 20. =footer
---------------------------------*/
.footer-top {
  padding: 50px 0 20px;
  border-top: 1px solid var(--border-color-2);
}
.footer-item {
  margin: 0 0 30px;
}
.footer-item h3 {
  text-transform: capitalize;
  margin: 0 0 20px;
}
.footer-item .footer-logo {
  color: var(--black-70);
  text-transform: uppercase;
}
.footer-item .footer-logo span {
  color: var(--main-color);
}
.footer-item ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer-item ul a {
  text-transform: capitalize;
  color: var(--black-70);
  transition: color 0.3s ease;
  position: relative;
}
.footer-item ul a:hover {
  color: var(--main-color);
}
.footer-item ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
.footer-item ul a:hover::before {
  width: 100%;
}
.footer-item ul a .social-icon {
  margin-right: 5px;
}
.footer-bottom {
  border-top: 1px solid var(--border-color-2);
}
.footer-bottom p {
  font-size: 14px;
}
/*-------------------------------
 21. =banner section
---------------------------------*/
.banner-section {
  padding: 80px 0;
  min-height: 480px;
}
.banner-text h2 {
  font-size: 20px;
  color: var(--main-color);
}
.banner-text h1 {
  font-size: 45px;
  font-weight: 700;
}
.banner-section .circular-img-circle {
  background-color: var(--red-light);
}
/*-------------------------------
 22. =fun facts section
---------------------------------*/
.fun-facts-item {
  padding: 15px 0;
}
.fun-facts-item h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.fun-facts-item p {
  margin: 0;
  text-transform: uppercase;
}
.fun-facts-item .style-1 {
  color: var(--black-70);
}
.fun-facts-item .style-2 {
  color: var(--green-light);
}
.fun-facts-item .style-3 {
  color: var(--red-light);
}
.fun-facts-item .style-4 {
  color: var(--orange-light);
}
/*-------------------------------
 23. =courses section
---------------------------------*/

/*-------------------------------
 24. =testimonials section
---------------------------------*/
.testimonials-section .img-box {
  height: 150px;
  width: 150px;
  background-color: var(--red-light);
  margin: 30px auto 50px;
}
.testimonials-section .img-box::before,
.testimonials-section .img-box::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--red-light);
  animation: spin 15s linear infinite;
}
.testimonials-section .img-box::before {
  height: 180px;
  width: 180px;
  left: -15px;
  top: -15px;
  border-left: 1px solid transparent;
}
.testimonials-section .img-box::after {
  height: 210px;
  width: 210px;
  left: -30px;
  top: -30px;
  border-right: 1px solid transparent;
}
.testimonials-item h3 {
  text-transform: capitalize;
}
.testimonials-item .text-2 {
  margin: 0;
  text-transform: capitalize;
}
.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}
.testimonials-section .decoration-circles-item {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}
.testimonials-section .decoration-circles-item:nth-child(1) {
  left: 10%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: var(--yellow-light);
}
.testimonials-section .decoration-circles-item:nth-child(2) {
  left: 40%;
  top: 40%;
  height: 50px;
  width: 50px;
  background-color: var(--green-light);
}
.testimonials-section .decoration-circles-item:nth-child(3) {
  left: 70%;
  top: 70%;
  height: 30px;
  width: 30px;
  background-color: var(--red-light);
}
.testimonials-section .decoration-circles-item:nth-child(4) {
  left: 20%;
  top: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--red-light);
}
.testimonials-section .decoration-imgs-item {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}
.testimonials-section .decoration-imgs-item:nth-child(1) {
  height: 60px;
  width: 60px;
  left: 20%;
  top: 30%;
  background-color: var(--yellow-light);
}
.testimonials-section .decoration-imgs-item:nth-child(2) {
  height: 80px;
  width: 80px;
  left: 90%;
  top: 40%;
  background-color: var(--red-light);
}
.testimonials-section .decoration-imgs-item:nth-child(3) {
  height: 40px;
  width: 40px;
  left: 10%;
  top: 60%;
  background-color: var(--green-light);
}
/*-------------------------------
 25. =bai section
---------------------------------*/
.bai-section .circular-img-circle {
  background-color: var(--yellow-light);
}
/*-------------------------------
 26. =course details section
---------------------------------*/

/*-------------------------------
 27. =contact section
---------------------------------*/
.contact-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}
.contact-item .icon-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: var(--WHITE);
}
